*
!*.*
!*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!*README*
!*configure*
!*Makefile*
!*makefile*
!*Gemfile*
*.org
*.copy
*.old
*.pdf
*.PDF
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.tiff
*.TIFF
*.Tiff
*.tif
*.TIF
*.Tif
*.eps
*.EPS
*.root
*.dat
*.DAT
*.ps
*.PS
*.eps
*.EPS
*.table
*.out
*.txt
*.log
*.history
*.tar
*.gz
*.xz
data
